<!doctype html>
<html lang="en">
  <head>
  	<title>Admin Dashboard
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/css/style2.css">
  </head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch ">
			<nav id="sidebar">
				<div class="p-4 pt-5">
		  		<a href="#" class="img logo rounded-circle mb-5" style="background-image: url(/img/logo.png);"></a>
	        <ul class="list-unstyled components mb-5">
            <li>
	              <a href="/api/admin/registerAdmin">Register Admins</a>
	          </li>
            <li class="active">
	              <a href="/api/admin/viewAdmin">View Admin</a>
            </li>
            <li>
              <a href="/api/package">View Packages</a>
          </li>
	        <div class="footer">
	        </div>
	      </div>
    	</nav>

        <!-- Page Content  -->
      <div id="content" class="p-0 p-md-0">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-primary">
                <i class="fa fa-bars"></i>
            </button>
            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="nav navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/api/admin/viewAdmin">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/admin/registerAdmin">Register Admin</a>
                </li>
                <li class="active">
                  <a class="nav-link" href="/api/package">View Packages</a>
              </li>
              </ul>
            </div>
          </div>
        </nav>
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3"></div>
            <div class="col-sm-12 col-md-6 col-lg-6">
              <% var message, doc; %>
              <h1 class="text-success  text-center">Admins Registered</h1>
              <h3 class="text-danger text-center"><%= message %></h3>
              <table class="table table-responsive table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>email</th>
                        <th>Password</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                 <% doc.forEach(admin =>{ %>
                    <tr>
                      <td><%= admin.name %></td>
                      <td><%= admin.email %></td>
                      <td><%= admin.realPassword %></td>
                      <td><a href="/api/admin/<%= admin._id %>">Delete</a></td>
                    </tr>
                 <% }) %>  
                </tbody>
              </table>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3"></div>
          </div>
        </div>
      </div>
		</div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script3.js"></script>
  </body>
</html>